import init.blade.usb.rc
import init.swapart.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    export EXTERNAL_STORAGE /storage/sdcard0
    # for backwards compatibility
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard

on fs
    # mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev

    # zRAM
    insmod /system/lib/modules/lzo_compress.ko
    insmod /system/lib/modules/lzo_decompress.ko
    insmod /system/lib/modules/zram.ko
    swapon_all /fstab.blade

on boot
# Set default governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 10

# I/O scheduler
    chown system system /sys/block/mtdblock0/queue/scheduler
    chmod 0664 /sys/block/mtdblock0/queue/scheduler
    chown system system /sys/block/mtdblock1/queue/scheduler
    chmod 0664 /sys/block/mtdblock1/queue/scheduler
    chown system system /sys/block/mtdblock2/queue/scheduler
    chmod 0664 /sys/block/mtdblock2/queue/scheduler

# Setup charging
    chown system system /sys/module/msm_battery/parameters/usb_chg_enable

# Vibrator intensity
    chown system system /sys/vibrator/pwmvalue

# Setup bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0666 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

on post-fs-data
    # cutils/installd wants a media dir
    mkdir /data/media 0770 system system

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # zRAM
    write /proc/sys/vm/page-cluster 0

# Create wifi filesystem structure
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0770 /data/misc/wifi/sockets
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/wifi/hostapd 0770 wifi wifi

    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

# For qmuxd socket
    mkdir /data/radio 0770 radio radio
    chmod 2770 /data/radio
    mkdir /dev/radio 0770 radio radio
    chown radio system /dev/pm_monitor

    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/grpfreq
    chown system system /sys/class/leds/green/grppwm
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/grpfreq
    chown system system /sys/class/leds/red/grppwm
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/grpfreq
    chown system system /sys/class/leds/amber/grppwm

# Sdcard polling
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1

setprop vold.post_fs_data_done 1

service qmuxd /system/bin/qmuxd
    class main
    user radio

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start abtfilt

on property:init.svc.bluetoothd=stopped
    stop abtfilt

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hciattach /system/bin/sh /system/etc/init.bt.sh
    class main
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot

on property:bluetooth.hciattach=true
    start hciattach

on property:bluetooth.hciattach=false
    setprop bluetooth.status off

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_wlan0

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf \
    -e/data/misc/wifi/entropy.bin \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service hostapd /system/bin/hostapd /data/misc/wifi/hostapd.conf
    socket hostapd_athap0 dgram 660 wifi wifi
    group wifi inet
    oneshot
    disabled

service abtfilt /system/bin/abtfilt -c -d -z -n
    class main
    disabled
    oneshot

service akmd /system/bin/akmd2
    class main
    oneshot

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

on property:sys.boot_completed=1
    # Override Kernel Samepage Merging (KSM) values
    write /sys/kernel/mm/ksm/sleep_millisecs 3000
    write /sys/kernel/mm/ksm/pages_to_scan 128
